<app-loading-spinner *ngIf="loading"></app-loading-spinner>

<div *ngIf="!loading">
  <div class="bg-home-img">
      <div class="container">
        <div class="home-page-text">
          <h1>Way 2 Success</h1>
          <p> A fun introduction to the world of dance focusing on creative movement, classroom environment, and rhythm.This dace style is characterised by a       linear form of the body without any pronounced movement 
              of the upper body and linear spatial patterns, which make the dance form extremely dynamic and powerful.
          </p>
        </div>
      </div>
    </div>
</div>
