<img class="loading" src="/src/assets/images/Reload-1.3s-78px.svg" *ngIf="loading">

<div *ngIf="!loading">

  <div class="alert alert-danger" *ngIf="error">
    <p class="alert-error">{{ error }}</p>
  </div>

  <div class="row mt-2" *ngIf="!error">
    <div class="col-12 mx-auto">

      <div class="row">
        <div class="col-md-6 col-12">
          <h3 class="page-heading">Courses</h3>
        </div>
        <div class="col-md-6 col-12">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text" for="branch">Branch</label>
              </div>
              <select name="branch" id="branch" class="form-control input-select" (change)="branchChanged($event.target.value)" [value]="branch">
                <option value="">Select Branch</option>
                <option *ngFor="let branch of branches" [value]="branch._id">{{branch.branchName}}</option>
              </select>
            </div>
              </div>
        </div>
      </div>
      <hr>
      <div class="table-responsive" *ngIf="courses.length > 0; else empty_courses">
        <table class="table table-sm">
          <thead class="table-heading">
            <tr class="table-row">
              <th class="table-heading-data">ID</th>
              <th class="table-heading-data">Course</th>
              <th class="table-heading-data text-center">Edit</th>
              <th class="table-heading-data text-center">Delete</th>
            </tr>
          </thead>
          <tbody class="table-body">
            <tr class="table-row" *ngFor="let course of courses, let i = index" routerLinkActive="active">
              <td class="table-data">{{ i+1 }}</td>
              <td class="table-data">
                <a class="data-link" [routerLink]="course._id">
                  <h5 class="title">{{ course.courseName | uppercase }}</h5>
                </a>
              </td>
              <td class="table-data text-center">
                <button class="btn btn-light btn-sm btn-edit" type="button" (click)="editcourse(course._id)">
                    <i class="fa fa-edit"></i>
                </button>
              </td>
              <td class="table-data text-center">
                <button class="btn btn-danger btn-sm btn-delete" type="button" (click)="deletecourse(course._id)">
                    <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <ng-template #empty_courses>
        <h5 class="no-data-found pl-3">{{noCourses}}</h5>
      </ng-template>
    </div>
  </div>
</div>
