    <div class="row">
        <div class="col-12">
    
            <div class="alert alert-danger" *ngIf="error">
                <p class="alert-error">{{ error }}</p>
            </div>

            <div class="alert alert-success" *ngIf="emailSend">
                <p class="alert-success">Reset Password link is send to your Mail</p>
            </div>
    
            <!-- <div *ngIf="isLoading" style="text-align: center;">
                <app-loading-spinner></app-loading-spinner>
            </div> -->
            
            <!-- <div class="row" *ngIf="!isLoading"> -->
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="page-heading">Forgot Password</h2>
                            <form class="form forgot-password-form" (submit)="forgotPassword()" [formGroup]="form">
                                <div class="form-group">
                                  <label class="input-label" for="email">Enter Your E-Mail</label>
                                  <input class="input-email form-control" type="email" id="email" name="email" formControlName="email">
                                  <span class="input-error" *ngIf="!form.get('email').valid && form.get('email').touched">*Please enter E-Mail</span>
                                </div>
                                <div>
                                    <button class="btn btn-primary btn-send" type="submit">Send</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>