<!-- <app-loading-spinner *ngIf="loading"></app-loading-spinner> -->

<div class="row" >
  <div class="col-12">
    <app-error [message]="error" *ngIf="error" (close)="onErrorClose()"></app-error>

    
    <div class="backgroundBox">
      <div class="row pt-3 pb-3" *ngIf="emailSend">
        <div class="col-8 mx-auto">
          <div class="alert alert-success" >
            <p class="alert-success">Reset Password link is send to your Mail</p>
          </div>
        </div>
      </div>
      <div class="customCard">
        <form class="form forgot-password-form" (submit)="forgotPassword()" [formGroup]="form">
          <h2>Forgot Password</h2>
          <div class="Wrapper">
              <div class="Input">
                <input
                  type="email"
                  id="email"
                  name="email"
                  formControlName="email"
                  class="Input-text"
                  placeholder="Enter your Email Id"
                />
                <label for="input" class="Input-label">Email</label>
                <span
                  class="input-error"
                  *ngIf="!form.get('email').valid && form.get('email').touched"
                  >*Please enter E-Mail</span>
              </div>
            </div>

            <div class="submitBtn">
                <button *ngIf="!loading" type="submit" class="btn btn-primary float-left">
                  Send
                </button>
                <img  *ngIf="loading" class="loading" src="./../../../assets/images/Double Ring-2s-75px.svg" />
            </div>
          </form>
      </div>
    </div>
  </div>
</div>
