<p>add-lecture works!</p>
<app-loading-spinner *ngIf="loading"></app-loading-spinner>

<div class="container" *ngIf="!loading">
  <app-error [message]="error" *ngIf="error" (close)="onErrorClose()"></app-error>

  <div class="row mt-2">
    <div class="col-md-10 col-12 mx-auto">
      <h4 class="page-heading text-center mb-3">Edit Lecture</h4>
      <form class="form" (submit)="editLecture()" [formGroup]="form">
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <label class="input-group-text input-label" for="title">Title </label>
                </div>
                <input
                  class="input-text form-control"
                  type="text"
                  name="title"
                  id="title"
                  formControlName="title"
                  placeholder="Title"
                />
              </div>
              <span
                class="input-error"
                *ngIf="!form.get('title').valid && form.get('title').touched"
                >*Please enter Title for Media</span
              >
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-12">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <label class="input-group-text input-label" for="branch">Branch </label>
                </div>
                <select
                  class="input-select form-control"
                  type="text"
                  name="branch"
                  id="branch"
                  formControlName="branch"
                  (change)="branchChanged()"
                >
                  <option class="select-option" value="">Select Branch</option>
                  <option
                    class="select-option"
                    *ngFor="let branch of branches"
                    [value]="branch._id"
                    >{{ branch.branchName }}</option
                  >
                </select>
              </div>
              <span
                class="input-error"
                *ngIf="!form.get('branch').valid && form.get('branch').touched"
                >*Please Select Branch</span
              >
            </div>
          </div>

          <div class="col-md-6 col-12">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <label class="input-group-text input-label" for="courseType">Course Type </label>
                </div>
                <select
                  class="input-select form-control"
                  type="text"
                  name="courseType"
                  id="courseType"
                  formControlName="courseType"
                  (change)="courseTypeChanged()"
                >
                  <option class="select-option" value="0">Diploma</option>
                  <option class="select-option" value="1">Degree</option>
                </select>
              </div>
              <span
                class="input-error"
                *ngIf="!form.get('courseType').valid && form.get('courseType').touched"
                >*Please Select Course Type</span
              >
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <label class="input-group-text input-label" for="course">Course </label>
                </div>
                <select
                  class="input-select form-control"
                  type="text"
                  name="course"
                  id="course"
                  formControlName="course"
                  placeholder="course"
                  (change)="courseChanged()"
                >
                  <option class="select-option" value="">Select Course</option>
                  <option
                    class="select-option"
                    *ngFor="let course of courses"
                    [value]="course._id"
                    >{{ course.courseName }}</option
                  >
                </select>
              </div>
              <span
                class="input-error"
                *ngIf="!form.get('course').valid && form.get('course').touched"
                >*Please Select Course</span
              >
            </div>
          </div>

          <div class="col-md-6 col-sm-12">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <label class="input-group-text input-label" for="batch">Batch </label>
                </div>
                <select
                  class="input-select form-control"
                  type="text"
                  name="batchName"
                  id="batchName"
                  formControlName="batch"
                  (change)="batchChanged()"
                >
                  <option class="select-option" value="">Select Batch</option>
                  <option class="select-option" *ngFor="let batch of batches" [value]="batch._id">{{
                    batch.batchName
                  }}</option>
                </select>
              </div>
              <span
                class="input-error"
                *ngIf="!form.get('batch').valid && form.get('batch').touched"
                >*Please Select Batch Name</span
              >
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-12">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <label class="input-group-text input-label" for="subject">Subject </label>
                </div>
                <select
                  class="input-select form-control"
                  type="text"
                  name="subject"
                  id="subject"
                  formControlName="subject"
                >
                  <option class="select-option" value="">Select Subject</option>
                  <option
                    class="select-option"
                    *ngFor="let curSubject of subjects"
                    [value]="curSubject._id"
                    >{{ curSubject.subject }}</option
                  >
                </select>
              </div>
              <span
                class="input-error"
                *ngIf="!form.get('subject').valid && form.get('subject').touched"
                >*Please Select Subject</span
              >
            </div>
          </div>

          <div class="col-md-6 col-12">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <label class="input-group-text input-label" for="date">Date </label>
                </div>
                <input
                  class="input-text form-control"
                  type="date"
                  name="date"
                  id="date"
                  formControlName="date"
                  placeholder=""
                />
              </div>
              <span class="input-error" *ngIf="!form.get('date').valid && form.get('date').touched"
                >*Please Select Date</span
              >
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-12">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <label class="input-group-text input-label" for="time">Time </label>
                </div>
                <input
                  class="input-text form-control"
                  type="time"
                  name="time"
                  id="time"
                  formControlName="time"
                  placeholder=""
                />
              </div>
              <span class="input-error" *ngIf="!form.get('time').valid && form.get('time').touched"
                >*Please Enter Time</span
              >
            </div>
          </div>

          <div class="col-md-6 col-12">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <label class="input-group-text input-label" for="duration">Duration </label>
                </div>
                <input
                  class="input-text form-control"
                  type="text"
                  name="duration"
                  id="duration"
                  formControlName="duration"
                  placeholder="In Minutes"
                />
              </div>
              <span
                class="input-error"
                *ngIf="!form.get('duration').valid && form.get('duration').touched"
                >*Please Enter Duration in Minutes</span
              >
            </div>
          </div>
        </div>

        <hr class="horizontal-line" />

        <div class="row">
          <div class="col-12">
            <button class="btn btn-primary btn-add" type="submit">Save</button>
            <button class="btn btn-light btn-cancel float-right" type="button" (click)="cancel()">
              Cancel
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
