<img class="loading" src="/src/assets/images/Reload-1.3s-78px.svg" *ngIf="loading">

<div  *ngIf="!loading">
  <div class="row mt-2">
    <div class="col-12 mx-auto">
      <div class="row">
        <div class="col-12">
          <button class="btn float-right" (click)="cancel()">X</button>
          <div class="row">
            <div class="col-md-6 col-12">
              <h3 class="page-heading">Student Attendance</h3>
            </div>
            <div class="col-md-6 col-12">
              <div class="row">
                <div class="col-md-6 col-12">
                    <div class="form-group mt-2">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <label class="input-group-text" for="month">Month</label>
                        </div>
                        <select class="form-control input-select" type="text" name="month" id="month" [value]="month" (change)="onSelectMonth($event.target.value)">
                            <option class="select-option" *ngFor="let month of months, let i = index" [value]="zeroAppend(i+1)">{{month}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="form-group mt-2">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <label class="input-group-text" for="year">Year</label>
                        </div>
                        <select class="form-control input-select" type="text" name="year" id="year" [value]="year" (change)="onSelectYear($event.target.value)">
                          <option class="select-option" *ngFor="let year of years, let i = index" [value]="year">{{year}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-12">
          <div class="form-group mt-2">
            <div class="input-group">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="courses">Course</label>
                </div>
                <select class="form-control input-select" type="text" name="course" id="course" [value]="course" (change)="onSelectCourse($event.target.value)">
                  <option class="select-option" value="">Select Course</option>
                  <ng-container *ngIf="courses.length > 0">
                    <option class="select-option" *ngFor="let course of courses, let i = index" [value]="zeroAppend(course._id)">{{course.course | uppercase}}</option>
                  </ng-container>
                </select>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-12">
          <div class="form-group mt-2">
            <div class="input-group">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="subjects">Batch</label>
                </div>
                <select class="form-control input-select" type="text" name="batch" id="batch" [value]="batch" (change)="onSelectBatch($event.target.value)">
                  <option class="select-option" value="">Select Batch</option>
                  <ng-container *ngIf="batches.length > 0">
                    <option class="select-option" *ngFor="let batch of batches, let i = index" [value]="zeroAppend(batch._id)">{{batch.batch | uppercase}}</option>
                  </ng-container>
                </select>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-12">
          <div class="form-group mt-2">
            <div class="input-group">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="subjects">Subject</label>
                </div>
                <select class="form-control input-select" type="text" name="subject" id="subject" [value]="subject" (change)="onSelectSubject($event.target.value)">
                  <option class="select-option" value="">Select Subject</option>
                  <ng-container *ngIf="subjects.length > 0">
                    <option class="select-option" *ngFor="let subject of subjects, let i = index" [value]="zeroAppend(subject._id)">{{subject.subject | uppercase}}</option>
                  </ng-container>
                </select>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <div class="col-md-6 col-12">
              <label for=""><strong>Total Lectures : </strong>{{attendance.length}}</label>
            </div>
            <div class="col-md-6 col-12">
              <label for=""><strong>Percentage : </strong>{{attendancePercentage()}}%</label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-12">
              <label for=""><strong>Present : </strong>{{present()}}</label>
            </div>
            <div class="col-md-6 col-12">
              <label for=""><strong>Absent : </strong>{{absent()}}</label>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <div class="row" *ngIf="attendance.length > 0; else empty_attendance">
        <div class="col-md-8 col-12 mx-auto">
          <div class="table-responsive">
            <table class="table table-sm table-hover">
              <thead class="table-heading">
                <tr class="table-row">
                  <th class="table-heading-data">ID</th>
                  <th class="table-heading-data">Date</th>
                  <th class="table-heading-data">Attendance Status</th>
                </tr>
              </thead>
              <tbody class="table-body">
                <tr class="table-row" *ngFor="let atten of attendance, let i = index">
                  <td class="table-data">{{ i+1 }}</td>
                  <td class="table-data">
                    <a class="student">
                      <p class="data">{{ makeDate(atten.date) }}</p>
                    </a>
                  </td>
                  <td class="table-data">
                    <p class="data" [ngClass]="atten.attendanceStatus == '0' ? 'absent' : ''">{{ atten.attendanceStatus === "0" ? "Absent" : "Present" }}</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <ng-template #empty_attendance>
        <h5 class="no-data-found pl-3">No Attendance Available</h5>
      </ng-template>
    </div>
  </div>
</div>
