<img class="loading" src="/src/assets/images/Reload-1.3s-78px.svg" *ngIf="loading">

<div  *ngIf="!loading">
  <div class="row mt-2">
    <div class="col-12 mx-auto">
        <div class="row">
            <div class="col-10 mx-auto">
                <div class="row">
                  <div class="col-md-4 col-12">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="searchType">Search By</label>
                        </div>
                        <select class="form-control input-select" type="text" name="searchType" id="searchType" [value]="searchType" (change)="onSelectSearchType($event.target.value)">
                            <option class="select-option" value="0">Month/Year</option>
                            <option class="select-option" value="1">Year</option>
                            <option class="select-option" value="2">Total</option>
                        </select>
                    </div>
                  </div>
                  <div class="col-md-8 col-12">
                      <div class="row">
                          <div class="col-6" *ngIf="searchType === '0'">
                              <div class="input-group">
                                  <div class="input-group-prepend">
                                      <label class="input-group-text" for="month">Month</label>
                                  </div>
                                  <select class="form-control input-select" type="text" name="month" id="month" [value]="month" (change)="onSelectMonth($event.target.value)">
                                      <option class="select-option" *ngFor="let month of months, let i = index" [value]="zeroAppend(i+1)">{{month}}</option>
                                  </select>
                              </div>
                          </div>
                          <div class="col-6" *ngIf="searchType === '0' || searchType === '1'">
                              <div class="input-group ml-2">
                                  <div class="input-group-prepend">
                                      <label class="input-group-text" for="year">Year</label>
                                  </div>
                                  <select class="form-control input-select" type="text" name="year" id="year" [value]="year" (change)="onSelectYear($event.target.value)">
                                      <option class="select-option" *ngFor="let year of years, let i = index" [value]="year">{{year}}</option>
                                  </select>
                              </div>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-10 mx-auto">
              <div class="row">
                    <div class="col-md-4 col-sm-10 col-12 mx-auto">
                        <h4>
                            <strong>Income : </strong>
                            &#x20b9; <span class="">{{totalIncome.toFixed(2)}}/-</span>
                        </h4>
                    </div>
                    <div class="col-md-4 col-sm-10 col-12 mx-auto">
                        <h4>
                            <strong>Expence : </strong>
                            &#x20b9; <span class="">{{totalExpence.toFixed(2)}}/-</span>
                        </h4>
                    </div>
                    <div class="col-md-4 col-sm-10 col-12 mx-auto">
                        <h4>
                            <strong>Balance : </strong>
                            &#x20b9; <span class="" [ngClass]="totalBalance >= 0 ? '' : 'negatice-balance'">{{totalBalance.toFixed(2)}}/-</span>
                        </h4>
                    </div>
              </div>
          </div>
      </div>
      <hr>
      <div class="row">
          <div class="col-10 mx-auto">
            <form [formGroup]="budgetForm" (submit)="saveBudget()">
                <div class="row">
                    <div class="col-md-6 col-sm-12 mt-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="budgetType">Type</label>
                            </div>
                            <select class="form-control input-select" type="text" name="budgetType" id="budgetType" formControlName="budgetType" (change)="onSelectbudgetType()">
                                <option class="select-option" value="1">Income (+)</option>
                                <option class="select-option" value="0">Expence (-)</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 mt-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="date">Date</label>
                            </div>
                            <input class="form-control input-input" type="date" name="date" id="date" formControlName="date">
                        </div>
                        <span class="input-error" *ngIf="!budgetForm.get('date').valid && budgetForm.get('date').touched">*Please enter valid Date</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 mt-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="budgetTitle">Title</label>
                            </div>
                            <input class="form-control input-input" type="text" name="budgetTitle" id="budgetTitle" formControlName="budgetTitle" placeholder="Title">
                        </div>
                        <span class="input-error" *ngIf="!budgetForm.get('budgetTitle').valid && budgetForm.get('budgetTitle').touched">*Please enter Title</span>
                    </div>
                    <div class="col-md-6 col-sm-12 mt-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="amount">&#x20b9;</label>
                            </div>
                            <input class="form-control input-input" type="text" pattern="\d*" name="amount" id="amount" formControlName="amount" placeholder="amount">
                            <div class="input-group-prepend">
                                <button class="btn" [ngClass]="budgetType === '1' ? 'btn-outline-success' : 'btn-outline-danger'" type="submit">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <span class="input-error" *ngIf="!budgetForm.get('amount').valid && budgetForm.get('amount').touched">*Please enter Amount</span>
                    </div>
                </div>
            </form>
          </div>
      </div>
      <hr>
      <div class="row">
          <div class="col-10 mx-auto">
            <div class="row">
                <div class="col-6 show-income">
                    <h5>Incomes : </h5>
                    <hr>
                    <div class="table-responsive" *ngIf="income.length > 0; else noIncome">
                        <table class="table table-sm table-hover">
                            <thead class="table-heading">
                                <tr class="table-row">
                                    <th class="table-heading-data">ID</th>
                                    <th class="table-heading-data">Income</th>
                                    <th class="table-heading-data">Amount</th>
                                    <th class="table-heading-data">Delete</th>
                                </tr>
                            </thead>
                            <tbody class="table-body income">
                                <tr class="table-row" *ngFor="let curIncome of income, let i = index" routerLinkActive="active">
                                    <td class="table-data">{{ i+1 }}</td>
                                    <td class="table-data">
                                        <p class="data">{{curIncome.title}}</p>
                                    </td>
                                    <td class="table-data">
                                        <p class="data">{{curIncome.amount}}</p>
                                    </td>
                                    <td class="table-data">
                                        <button class="btn btn-danger btn-sm btn-delete-budget" type="button" (click)="deleteBudget(curIncome._id)">
                                            <i class="fa fa-close"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <ng-template #noIncome>
                        <p>No Income</p>
                    </ng-template>
                </div>

                <div class="col-6 show-expence">
                    <h5>Expences : </h5>
                    <hr>
                    <div class="table-responsive" *ngIf="expence.length > 0; else noExpence">
                        <table class="table table-sm table-hover">
                            <thead class="table-heading">
                                <tr class="table-row">
                                    <th class="table-heading-data">ID</th>
                                    <th class="table-heading-data">Expence</th>
                                    <th class="table-heading-data">Amount</th>
                                    <th class="table-heading-data">Delete</th>
                                </tr>
                            </thead>
                            <tbody class="table-body expence">
                                <tr class="table-row" *ngFor="let curExpence of expence, let i = index" routerLinkActive="active">
                                    <td class="table-data">{{ i+1 }}</td>
                                    <td class="table-data">
                                        <p class="data">{{curExpence.title}}</p>
                                    </td>
                                    <td class="table-data">
                                        <p class="data">{{curExpence.amount}}</p>
                                    </td>
                                    <td class="table-data">
                                        <button class="btn btn-danger btn-sm btn-delete-budget" type="button" (click)="deleteBudget(curExpence._id)">
                                            <i class="fa fa-close"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <ng-template #noExpence>
                        <p>No Expence</p>
                    </ng-template>
                </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>