<app-loading-spinner *ngIf="loading"></app-loading-spinner>

<div *ngIf="!loading">
    <div class="row" *ngIf="waitingToStart">
        <div class="col-12">
            <p id="waitingToStart">{{waitingToStart}}</p>
        </div>
    </div>
    <div class="row" *ngIf="!waitingToStart && videoPrepared">
        <div class="col-10 mx-auto">
            <video #videoPlayer class="video" disablePictureInPicture id="video" name="video" oncontextmenu="return false;" width="100%" controls controlsList="nodownload noremoteplayback">
                <source [src]="media.media.secure_url" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
</div>
