<app-loading-spinner *ngIf="loading"></app-loading-spinner>

<div class="row" *ngIf="!loading">
  <div class="col-12">

    <app-error [message]="error" *ngIf="error" (close)="onErrorClose()"></app-error>

    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="row">
          <div class="col-12">
            <h2 class="reset-password-heading">Reset Password</h2>
            <form class="form reset-password-form" (submit)="reset()" [formGroup]="form">
              <div class="form-group">
                <label class="input-label" for="password">Password</label>
                <input class="input-password" type="password" id="password" class="form-control" name="password" formControlName="password">
                <span class="input-error" *ngIf="!form.get('password').valid && form.get('password').touched">*Please enter Password</span>
              </div>
              <div class="form-group">
                <label class="input-label" for="confirmPassword">Confirm Password</label>
                <input class="input-password" type="password" id="confirmPassword" class="form-control" name="confirmPassword" formControlName="confirm_password">
                <span class="input-error" *ngIf="!form.get('confirm_password').valid && form.get('confirm_password').touched">*Please enter Confirm Password</span>
              </div>
              <div>
                <span class="input-error" *ngIf="form.hasError('invalidPassword') && form.get('password').touched">*Password & Confirm Password Does Not Match</span>
              </div>
              <div>
                <button class="brn-reset-password btn btn-primary" type="submit">Reset</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
