<app-loading-spinner *ngIf="loading"></app-loading-spinner>

<div class="row" *ngIf="!loading">
  <div class="col-12">
    <app-error [message]="error" *ngIf="error" (close)="onErrorClose()"></app-error>
    <div class="backgroundBox">
        <div class="customCard">
            <form class="form reset-password-form" (submit)="reset()" [formGroup]="form">
                <h2>Reset Password</h2>
                <div class="Wrapper">
                    <div class="Input">
                      <input
                        type="password"
                        id="password"
                        name="password"
                        formControlName="password"
                        class="Input-text"
                        placeholder="Password"/>
                      <label for="input" class="Input-label">Password</label>
                      <span
                        class="input-error"
                        *ngIf="!form.get('password').valid && form.get('password').touched">
                          *Please enter Password
                      </span>
                    </div>
                  </div>

                  <div class="Wrapper">
                      <div class="Input" style="margin-bottom: 10px">
                        <input
                          type="password"
                          id="confirmPassword"
                          name="confirmPassword"
                          formControlName="confirm_password"
                          class="Input-text"
                          placeholder="Confirm Password"/>
                        <label for="input" class="Input-label">Confirm Password</label>
                        <span
                          class="input-error"
                          *ngIf="!form.get('confirm_password').valid && form.get('confirm_password').touched">
                            *Please Confirm Password
                        </span>
                      </div>
                    </div>
                    <div class="passwordMatchError">
                      <span
                        class="input-error"
                        *ngIf="form.hasError('invalidPassword') && form.get('password').touched"
                        >*Password & Confirm Password Does Not Match</span
                      >
                    </div>
                    <div class="submitBtn">
                        <button type="submit" class="btn btn-primary float-left">
                          Reset
                        </button>
                    </div>
            </form>
        </div>
    </div>
  </div>
</div>
