.customCard {
    width: 800px;
  }

  .backgroundBox{
      padding-top: 100px;
  }

  .passwordMatchError{
      font-size: 25px;
  }

  @media only screen and (max-width: 1283px) {
    .customCard {
      width: 100%;
      
    }
    .backgroundBox{
        padding-top: 0px;
    }
  }