<app-loading-spinner *ngIf="loading"></app-loading-spinner>

<div  *ngIf="!loading">
  <div class="row mt-2">
    <div class="col-md-8 col-11 mx-auto">
      <div class="row">
        <div class="col-12">
          <h3 class="page-heading text-center">Add New Branch</h3>
        </div>
      </div>
      <hr class="horizontal-line">
      <form class="" [formGroup]="form" (submit)="addBranch()">

        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="branch">Branch</label>
                </div>
                <input class="form-control input-text" type="text" name="branch" id="branch" formControlName="branch" placeholder="Branch Name">
              </div>
              <span class="input-error" *ngIf="!form.get('branch').valid && form.get('branch').touched">*Please Enter Branch Name</span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="address">Address</label>
                </div>
                <textarea class="form-control input-text" type="text" rows="2" minlength="10" name="address" id="address" formControlName="address" placeholder="49, New York, USA"></textarea>
              </div>
              <span class="input-error" *ngIf="!form.get('address').valid && form.get('address').touched">*Please Enter Address</span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="email">E-mail</label>
                </div>
                <input class="form-control input-text" type="email" name="email" id="email" formControlName="email" placeholder="example@gmail.com">
              </div>
              <span class="input-error" *ngIf="!form.get('email').valid && form.get('email').touched">*Please Enter Valid Email</span>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="phonn">Phone</label>
                </div>
                <input class="form-control input-text" type="text" pattern="\d*" minlength="10" maxlength="10" name="phone" id="phone" formControlName="phone" placeholder="987654****">
              </div>
              <span class="input-error" *ngIf="!form.get('phone').valid && form.get('phone').touched">*Please Enter Valid Phone Number</span>
            </div>
          </div>
        </div>

        <hr>
        <div class="row">
          <div class="col-12">
            <button class="btn btn-primary float-right" type="submit">Add</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
