.backgroundBox{
  height: 97vh;
}
.course {
  max-height: 200px;
  overflow-y: auto;
}

.card{
  position: relative;
  -moz-animation: movetop.75s ease-in; 
  -ms-animation: movetop .75s ease-in ;
  -o-animation: movetop .75s ease-in ;
   animation: movetop .75s ease-in;
}

.brachbox{
  background-color:#272343;
  text-align: center;
}

.brachbox h3{
  display: inline-block;
  color:#fff;
  padding: 20px 0;
  text-transform: uppercase;
}

.brachbox .cardBox{
  padding: 5px 0;
}

.brachbox .card{
  border-radius: 0;
  background-color: rgba(000, 000, 000, 0);
  
}
.card-header:first-child{
  border-radius: 0;
}

.brachbox .card-header{
  background-color: #c1c1c1;
}
.brachbox .card-body{
  background-color: #e2e2e2;
}
