<app-loading-spinner *ngIf="loading"></app-loading-spinner>

<div *ngIf="!loading">
  <div class="branchbox row">
    <div class="col-12 mx-auto">
      <h3>Our Branches</h3>
      <div class="row mb-3" *ngFor="let branch of branches">
        <div class="cardBox col-md-10 col-12 mx-auto">
          <div class="card shadow">
            <div class="card-header">
              <i class="fa fa-building-o"></i>&nbsp;&nbsp;&nbsp;{{ branch.branchName }}
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-6 col-12">
                  <div class="row">
                    <div class="col-12 mt-2">
                      <span><i class="fa fa-map-marker"></i></span>
                      &nbsp;&nbsp;{{ branch.address }}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 mt-2">
                      <span><i class="fa fa-phone"></i></span>
                      &nbsp;&nbsp;{{ branch.phone }}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 mt-2">
                      <span><i class="fa fa-envelope"></i></span>
                      &nbsp;&nbsp;<a
                        style="color:#3b3b3b!important;cursor: pointer;"
                        href="mailto:{{ branch.email }}"
                        >{{ branch.email }}</a
                      >
                    </div>
                  </div>
                  <hr />
                </div>
                <div class="col-md-6 col-12">
                  <div class="text-center">
                    <strong>COURSES</strong>
                  </div>
                  <hr />
                  <div class="course pr-1" *ngIf="branch.course.length > 0; else empty_course">
                    <ng-container *ngFor="let course of branch.course; let i = index">
                      <div class="card">
                        <div class="card-header">
                          <a
                            class="card-link"
                            [ngClass]="{ collapsed: i !== 0 }"
                            data-toggle="collapse"
                            href="{{ '#' + 'course-' + course._id }}"
                          >
                            {{ course.courseName }}
                          </a>
                        </div>
                        <div
                          id="{{ 'course-' + course._id }}"
                          class="collapse"
                          [ngClass]="{ show: i === 0 }"
                        >
                          <div class="card-body">
                            <div class="table-responsive">
                              <table class="table table-sm">
                                <thead class="table-heading text-center">
                                  <th class="table-heading-data">Batch</th>
                                  <th class="table-heading-data">Subjects</th>
                                  <th class="table-heading-data">Fees</th>
                                </thead>
                                <tbody class="table-body">
                                  <ng-container *ngFor="let batch of course.batch">
                                    <tr class="table-row">
                                      <td class="table-data" class="text-left">
                                        {{ batch.batchName }}
                                      </td>
                                      <td class="table-data">
                                        <p
                                          class="data"
                                          style="margin: 0;"
                                          *ngFor="let curSubject of batch.subjects; let i = index"
                                        >
                                          {{ curSubject.subject }}
                                        </p>
                                      </td>
                                      <td class="table-data">
                                        <p
                                          class="data"
                                          style="margin: 0;"
                                          *ngFor="let curSubject of batch.subjects; let i = index"
                                        >
                                          {{ curSubject.fee }}
                                        </p>
                                      </td>
                                    </tr>
                                  </ng-container>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                  <ng-template #empty_course>
                    <p class="text-center">No Courses Available</p>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
