<img class="loading" src="../../../assets/images/Reload-1.3s-78px.svg" *ngIf="loading">

<div class="row" *ngIf="!loading">
  <div class="col-12">
    <div class="row mt-2">
      <div class="col-md-10 col-sm-12 mx-auto">
        <h3>Receipts</h3>
        <hr>
        <div class="row" *ngIf="receipts.length > 0; else empty_receipts">
          <div class="table-responsive">
            <table class="table table-sm table-hover">
              <tbody>
                <tr>
                  <th>ID</th>
                  <th>Date</th>
                  <th>Amount</th>
                  <th>Payment Mode</th>
                  <th>Show</th>
                </tr>
                <tr class="receipt" *ngFor="let receipt of receipts; let i = index" routerLinkActive="active">
                  <td>{{ i+1 }}</td>
                  <td>
                    {{ receipt.date }}
                  </td>
                  <td>
                    Rs. {{ receipt.amount }}.00/-
                  </td>
                  <td>
                    {{ receipt.paymentMode | uppercase }}
                  </td>
                  <td>
                    <button type="button" class="btn btn-sm btn-warning text-white" (click)="showReceipt(receipt._id)"><i class="fa fa-info-circle"></i></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <ng-template #empty_receipts>
          <h5 class="pl-3">No Receipts Available</h5>
        </ng-template>
      </div>
    </div>
  </div>
</div>
