<app-loading-spinner *ngIf="loading"></app-loading-spinner>

<div class="row" *ngIf="!loading">
  <div class="col-12">

    <div class="row" *ngIf="error">
      <div class="col-10 mx-auto">
        <div class="alert alert-danger">
          <p class="alert-error">{{ error }}</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mx-auto">

        <div class="row">
          <div class="col-12">

            <h2 class="page-heading">Change Password</h2>

            <form class="form change-password-form" (submit)="changePassword()" [formGroup]="form">

              <div class="form-group">
                <label class="input-label" for="oldPassword">Old Password</label>
                <input class="input-password" type="password" id="oldPassword" class="form-control" name="oldPassword" formControlName="oldPassword">
                <span class="input-error" *ngIf="!form.get('oldPassword').valid && form.get('oldPassword').touched">*Please enter Your Old Password</span>
              </div>

              <div class="form-group">
                <label class="input-label" for="password">New Password</label>
                <input class="input-password" type="password" id="password" class="form-control" name="password" formControlName="password">
                <span class="input-error" *ngIf="!form.get('password').valid && form.get('password').touched">*Please enter New Password</span>
              </div>

              <div class="form-group">
                <label class="input-label" for="confirm_password">Confirm New Password</label>
                <input class="input-password" type="password" id="confirm_password" class="form-control" name="confirm_password" formControlName="confirm_password">
                <span class="input-error" *ngIf="!form.get('confirm_password').valid && form.get('confirm_password').touched">*Please enter Confirm Password</span>
              </div>

              <div>
                  <span class="input-error" *ngIf="form.hasError('invalidPassword') && form.get('password').touched">*Password & Confirm Password Does Not Match</span>
              </div>

              <hr>

              <div>
                <button class="btn btn-primary btn-change-password" type="submit">Change</button>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
