.aboutUsImage {
  position: relative;
  height: 400px;
  background-color: black;
  background-image: radial-gradient(rgba(0, 0, 0, 0.884), rgba(0, 0, 0, 0)),
    url('../../../assets/images/aboutUs-backgroundImageCompressed.jpg');
  background-size: cover;
  background-attachment: unset;
  background-position: 50% 44%;
}
.imageText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #d0e1f9;
  font-size: 4rem;
  letter-spacing: 20px;
  font-weight: 600;
  text-align: center;
}

.imageText span {
  position: relative;
  display: inline-block;
  animation: movetop 0.75s ease-in;
}
.scroll {
  overflow-y: auto;
}

.backgroundBox {
  background-image: linear-gradient(rgb(0, 0, 0), rgba(39, 35, 67, 0));
}

.vision {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%;
  color: white;
}
.vision h2{
  letter-spacing: 3px;
}
.vision .vision-body{
  font-size: 20px;
   padding-bottom: 20px;
}
.topper-block:before{
  content: " ";
  display: block;
  height: 2px;
  width: 100px;
  background-color: white;
  margin: 0 auto;
  margin-bottom: 25px;
}

.topper-block{
  padding-top: 10px;
  color: white;
  padding: 40px 0;
}

.topper-card{
  position: relative;
  margin: 20px;
  background-color: #d0e1f9;
  flex-basis: 300px;
  height: 450px;
  -moz-animation: fadein 1s ease-in 0.5s;
  -ms-animation: fadein 1s ease-in 0.5s;
  -o-animation: fadein 1s ease-in 0.5s;
  animation: fadein 1s ease-in 0.5s;
  animation-fill-mode: backwards;
 }


 .topper-pic{
  height: 170px;
  padding:10px;
  text-align: center;
 }
 .topper-pic img{
  vertical-align: middle;
  margin-top: 10px;
  height:150px;
  width: 150px;
  border-radius: 50%;
 }

 .topper-desc{
  margin-top: 10px;
  text-align: center;
  padding: 10px;
 }
 .topper-desc h5{
  color:#272343;
  text-transform: uppercase;
 }
 .topper-desc h5:after{
  display: block;
  height: 2px;
  background-color: #272343;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 10px;
 }

 .topper-desc ul{
  list-style-type: none;
  padding:25px 0 25px 40px;
  color: #272343;
  font-size: 17px;
 }
 .topper-desc li{
   padding: 5px 0;
   text-align: left;
   width: 100%;
 }
 .topper-desc label{
   width: 50%;
   padding-right: 15px;
 }
 .topper-desc span{
  width: 50%;
}
@media only screen and (max-width: 991px) {
  .vision {
    position: relative;
    padding: 0 20px;
  }
}