<div class="row">
    <div class="col-12">

        <div class="alert alert-danger" *ngIf="error">
            <p class="alert-error">{{ error }}</p>
        </div>

        <!-- <div *ngIf="isLoading" style="text-align: center;">
            <app-loading-spinner></app-loading-spinner>
        </div> -->
        
        <!-- <div class="row" *ngIf="!isLoading"> -->
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="row">
                    <div class="col-12">
                        <h2 class="page-heading">Login</h2>
                        <form class="form login-form" (submit)="login()" [formGroup]="form">
                            <div class="form-group">
                                <label class="input-label" for="email">E-Mail</label>
                                <input class="input-email" type="email" id="email" class="form-control" name="email" formControlName="email">
                                <span class="input-error" *ngIf="!form.get('email').valid && form.get('email').touched">*Please enter E-Mail</span>
                            </div>
                            <div class="form-group">
                                <label class="input-label" for="password">Password</label>
                                <input class="input-password" type="password" id="password" class="form-control" name="password" formControlName="password">
                                <span class="input-error" *ngIf="!form.get('password').valid && form.get('password').touched">*Please enter Password</span>
                            </div>
                            <hr class="horizontal-line">
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <button class="btn-login btn btn-primary" type="submit">Login</button>
                                </div>
                                <div class="col-md-6 col-12 text-right">
                                    <a class="forgot-password-link" routerLink="/forgotPassword">Forgot Password</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>