<app-loading-spinner *ngIf="loading"></app-loading-spinner>

<div class="row" *ngIf="!loading">
  <div class="col-12">

    <div class="alert alert-danger" *ngIf="error">
      <p class="alert-error">{{ error }}</p>
    </div>

    <!-- <div *ngIf="isLoading" style="text-align: center;">
        <app-loading-spinner></app-loading-spinner>
    </div> -->

    <!-- <div class="row" *ngIf="!isLoading"> -->
    <div class="backgroundBox">
      <div class="customCard">
        <form class="form login-form" (submit)="login()" [formGroup]="form">  
          <h2>Login</h2>
          <div class="Wrapper">
            <div class="Input">
              <input type="email" id="email"  name="email"  formControlName="email" class="Input-text" placeholder="Enter your login Id">
              <label for="input" class="Input-label">Email</label>
              <span class="input-error" *ngIf="!form.get('email').valid && form.get('email').touched">*Please enter E-Mail</span>
            </div>
          </div>
          <div class="Wrapper">
            <div class="Input">
              <input type="password" id="password" class="form-control" name="password" formControlName="password" class="Input-text" placeholder="Enter your password">
              <label for="input" class="Input-label">Password</label>
              <span class="input-error" *ngIf="!form.get('password').valid && form.get('password').touched">*Please enter Password</span>
            </div>
          </div>
          <div class="submitBtn">
              <button type="submit" class="btn btn-primary float-left">Login</button>
              <a class="float-right" routerLink="/forgotPassword">Forgot Password</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
