.notification {
  background-color: transparent;
  border-radius: 50%;
  color: white;
  text-decoration: none;
  padding: 10px 10px;
  position: relative;
  display: inline-block;
}

.notification .badge {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 27px;
  width: 27px;
  padding: 5px;
  background-color: #1484f4;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 5px;
}

.notification .badge .enquiries {
  width: 55px;
  height: 25px;
  text-align: center;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.bell {
  font-size: 36px;
  color: #999;
}
