.input-group-text {
  width: 90px;
}
.contactUsDiv{
  min-height: 600px;
  background-color: #272343;
  z-index: 0;
  position: relative;
  padding: 50px 100px;
}


.contactUsBox{
  display: inline-block;
  width: 500px;
  background-color: #bae8e8;
  text-align: center;
}

.contactUsBox h2{
  color: #272343;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 40px;
  text-align: center;
  width: 100%;
  padding: 20px 0;
}

.ourInfo{
  position: relative;
  display: inline-block;
  color: white;
  bottom: 120px;
  padding-left: 250px;
  padding-top: 150px;
  width: 800px;
}
.ourInfoText{
  font-size: 25px;
  padding: 20px;
  letter-spacing: 4px;
}
.ourInfoText i{
  padding-right: 10px;
  padding-left: 20px;
}

/*Media Queries*/

@media only screen and (max-width: 1283px) {
  .contactUsBox{
    width: 100%;
  }
  .ourInfo{
    padding-left: 0px;
    width: 100%;
  }
 .ourInfoText{
   display: inline-block;
   padding: 0px;
 }
}

@media only screen and (max-width: 764px) {
  .contactUsDiv{
    padding: 0px;
  }
  .ourInfoText{
    padding: 0px 20px;
    letter-spacing: 5px;
  }
  .Input{
    padding-left: 25px;
    padding-right: 25px;
  }

  .Input-label{
    padding-left: 15px;
    padding-right: 25px;
  }
}