.input-group-text {
  width: 90px;
}
.backgroundBox{
  text-align: unset;
}

.ourInfo{
  position: relative;
  display: inline-block;
  color: white;
  bottom: 120px;
  padding-left: 250px;
  padding-top: 150px;
  width: 625px;
  -moz-animation: fadein 1.5s; 
  -ms-animation: fadein 1.5s;
  -o-animation: fadein 1.5s;
   animation: fadein 1.5s;
   -moz-animation: moveright 1s;; 
  -ms-animation: moveright 1s;;
  -o-animation: moveright 1s;;
   animation: moveright 1s;;
}
.ourInfoText{
  font-size: 25px;
  padding: 20px;
  letter-spacing: 4px;
}
.ourInfoText i{
  padding-right: 10px;
  padding-left: 20px;
}
.ourInfoText .text{
  padding-left: 12px;
}
/*Media Queries*/

@media only screen and (max-width: 1324px) {
  .ourInfo{
    padding-left: 0px;
    width: 100%;
  }
 .ourInfoText{
   display: inline-block;
   padding: 0px;
   word-break: break-word;
 }
}

@media only screen and (max-width: 764px) {
  .ourInfoText{
    padding: 0px 20px;
    letter-spacing: 5px;
  }
  .ourInfoText i{
    padding-top: 15px;
  }
  .Input{
    padding-left: 25px;
    padding-right: 25px;
  }

  .Input-label{
    padding-left: 15px;
    padding-right: 25px;
  }
}