<app-loading-spinner *ngIf="loading"></app-loading-spinner>

<div class="container" *ngIf="!loading">
  <app-error [message]="error" *ngIf="error" (close)="onErrorClose()"></app-error>

  <div class="row mt-2">
    <div class="col-12">
      <div class="row">
        <div class="col-12">
          <button class="btn btn-sm float-right" (click)="cancel()">X</button>
          <h4>Lecture Contents</h4>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-8 col-12 mx-auto">
          <h5>Lecture Contents</h5>
          <div class="table-responsive" *ngIf="lectureContents.length > 0; else noLectureContent">
            <table class="table table-sm table-hover">
              <thead class="table-heading">
                <tr class="table-row">
                  <th class="table-heading-data">ID</th>
                  <th class="table-heading-data">Content</th>
                </tr>
              </thead>
              <tbody class="table-body">
                <tr
                  class="table-row"
                  *ngFor="let content of lectureContents; let i = index"
                  routerLinkActive="active"
                >
                  <td class="table-data">{{ i + 1 }}</td>
                  <td class="table-data">
                    <a class="content" [routerLink]="content._id">
                      <span class="data">{{ content.content_name }}</span>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <ng-template #noLectureContent>
            No Lecture Contents Avilable
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
