<app-loading-spinner *ngIf="loading"></app-loading-spinner>

<div class="row" *ngIf="!loading">
  <div class="col-12">
    <div class="row">
      <div class="col-6">
        <h3>Add Category</h3>
      </div>
      <div class="col-6">
        <button class="btn float-right" type="button" (click)="cancel()">X</button>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-8 col-11 mx-auto">
        <form [formGroup]="form" (submit)="addCategory()">
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label class="input-label" for="category">Category Name : </label>
                <div class="input-group">
                  <input class="form-control" type="text" name="category" id="category" formControlName="category" placeholder="Category">
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Add</button>
                  </div>
                </div>
                <span class="input-error" *ngIf="!form.get('category').valid && form.get('category').touched">*Please Enter Category Name</span>
              </div>
            </div>
          </div>

        </form>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div *ngIf="categories.length > 0; else no_categories">
          <div class="table-responsive">
            <table class="table table-sm">
              <thead class="table-heading">
                <tr class="table-row">
                  <th class="table-heading-data">ID</th>
                  <th class="table-heading-data">Category</th>
                  <th class="table-heading-data">Delete</th>
                </tr>
              </thead>
              <tbody class="table-body">
                <tr class="table-row" *ngFor="let category of categories; let i = index">
                  <td class="table-data">{{i + 1}}</td>
                  <td class="table-data">{{category.category}}</td>
                  <td class="table-data">
                    <button type="button" class="btn btn-sm btn-danger" (click)="deleteCategory(category._id)">
                      <i class="fa fa-trash"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <ng-template #no_categories><p>No Category Added Yet</p></ng-template>
      </div>
    </div>

  </div>
</div>
